
@use '../variables/colores_variables' as v;
@use '../variables/fonts' as f;

.blog-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    .blog-titulo {
        text-align: center;
        font-family: f.$fuente-roboto;
        font-size: 2.5rem;
        margin: 0;
    }

    .blog-descripcion {
        text-align: center;
        margin: 0;
        color: v.$accent-color;
        font-family: f.$fuente-roboto;
    }
}
.blog-imagen {
    width: 100%;
    height: 245px;
    border-radius: 15px 15px 0 0;
    overflow: hidden; 
}

.blog-entrada {
    background-color: v.$background-color;
    border: 1px solid v.$primary-color;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .articulo-titulo {
        font-family: f.$fuente-principal;
        font-size: 1.5rem;
        color: v.$primary-color;
        margin: 0;
        text-align: center;
    }

    .articulo-resumen {

        display: flex;
        flex-direction: column;
        align-items: center;

        font-family: f.$fuente-roboto;
        font-size: 1rem;
        color: v.$primary-color;
        margin-bottom: 1rem;
    }

    .leer-mas {
        font-family: f.$fuente-roboto;
        color: v.$accent-color;
        text-decoration: none;
        font-weight: bold;

        &:hover {
            text-decoration: underline;
        }
    }
}