
.toggleSidebar {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    border: 0;
    gap: .65rem;
    background: transparent;
    cursor: pointer;
}
.toggleSidebar > div {
    background-color: black;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    transition: all .5s;
    transform-origin: left;
}
.toggleSidebar:hover div:first-child {
    transform: rotate(45deg);
}
.toggleSidebar:hover div:nth-child(2) {
    opacity: 0;
}
.toggleSidebar:hover div:last-child {
    transform: rotate(-45deg);
}

.btn-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.132);
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.3s ease;
    
    svg {
        width: 50px;
        height: 50px;
    }
}
.btn-top:hover {
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 0,7;
}

.btn-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.132);
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.3s ease;
    
    svg {
        width: 50px;
        height: 50px;
    }
}
.btn-down:hover {
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 0,7;
}