

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.132);
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.3s ease;
    
    svg {
        width: 50px;
        height: 50px;
    }
}
.btn-top:hover {
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 0,7;
}