
body.dark-mode {
    background-color: black;
    color: whitesmoke;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode .header {
    background-color: #121212;
    color: #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-mode .header-barra-navegacion a {
    color: #e0e0e0;
    transition: color 0.3s ease;
}
body.dark-mode .btn-modeDark {
    background-color: #333;
    color: #e0e0e0;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-top {
    position: fixed;
    bottom: 90px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.132);
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.3s ease;
    
    svg {
        width: 50px;
        height: 50px;
    }
}
.btn-top:hover {
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 0,7;
}

.btn-down {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.132);
    background-color: rgba(0, 0, 0, 0.151);
    transition: background-color 0.3s ease;
    
    svg {
        width: 50px;
        height: 50px;
    }
}
.btn-down:hover {
    background-color: rgba(0, 0, 0, 0.377);
    opacity: 0,7;
}

.btn-modeDark {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 10px 15px;
    
    cursor: pointer;
    font-size: 1.2rem;
}