@use '../variables/colores_variables' as c;
@use '../variables/fonts' as f;

.contacto {
    background-color: c.$primary-color;
    padding: 1rem;

    h2 {

        text-align: center;
        margin: 0;
        margin-bottom: .7rem;

        font-family: f.$fuente-roboto;
        font-weight: 600;
        font-size: 1.2rem;
    }
    p {
        text-align: center;
        font-family: f.$fuente-roboto;
        font-size: 1rem;
        color: c.$secondary-text-color;
    }
}

.btn-contacto {
    display: block;
    background-color: c.$accent-color;
    color: c.$text-color-tertiary;
    border: none;
    padding: .7rem;
    margin: auto;
    width: 100%;
}