@use '../variables/fonts' as f;
@use '../variables/colores_variables' as v;

.habilidades-tecnicas {
    background-color: v.$primary-color;
    padding: 1rem;

    h2, p {
        margin: 0;
    }
    h2 {
        text-align: center;
        margin-bottom: .5rem;
        font-family: f.$fuente-principal;
    }
    p {
        display: flex;
        justify-content: center;
        font-family: f.$fuente-roboto;
        line-height: 1.5;
        color: v.$secondary-text-color;
        margin-bottom: .5rem;
    }
}
.iconos-tecnologias {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;

    
}
.card {
    background-color: v.$background-card;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;

    .card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;

        .card-icon {
        }

        p {
            margin-top: .5rem;
            font-family: f.$fuente-roboto;
            font-weight: bold;
            font-size: 1.4rem;
        }
    }

    .flex-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;

        .tag {
            background-color: v.$accent-color;
            color: #fff;
            padding: 0.5rem 1rem;
            border-radius: 20px;
            font-size: .7rem;
            font-family: f.$fuente-roboto;
        }
    }
}