@use '../variables/fonts' as f;
@use '../variables/colores_variables' as v;

.proyectos {
    background-color: v.$primary-color;
    padding: 1rem;

    .proyecto-titulo {
        text-align: center;
        margin: 0;
    }

}
.proyecto-header {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;

    
}
.proyecto-card {
    background-color: v.$background-card;
    padding: .5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .proyecto-imagen {
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;
    }

    .proyecto-btn {
        width: 85%;
        margin: 1rem auto 0 auto;
        text-align: center;
        padding: .5rem;
        background-color: v.$accent-color;
        border-radius: 10px;


        a {
            
            color: v.$primary-color;
            padding: 0.5rem 1rem;
            border-radius: 4px;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                background-color: darken(v.$accent-color, 10%);
            }    
        }
    }

    h2 {
        margin: 0;
        padding: .7rem;
        margin-bottom: .5rem;
    }
}