
@use '../variables/colores_variables' as c;
@use '../variables/fonts' as f;

.main {

    .main-sobre-mi {
        background-color: c.$primary-color;
        padding: .2rem 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h3, p{
            margin: 0;
        }
        h3 {
            margin-bottom: 1rem;
        }

    }
}