
@use '../variables/colores_variables' as c;
@use '../variables/fonts' as f;

.main {
    scroll-margin-top: 4rem;
    .main-sobre-mi {
        background-color: c.$primary-color;
        padding: .2rem 1rem;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2{
            margin: 0;
            margin-bottom: .5rem;
        }
        p {
            font-family: f.$fuente-roboto;
            color: c.$secondary-text-color;
            font-weight: 450;
            margin: 0;
        }

    }

    .main-imagen-sobre-mi {
        max-width: 100%;
        height: auto;
        border-radius: 15px;

        object-fit: cover;

        box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.255);

    }
}